@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;600&family=Dela+Gothic+One&family=Zilla+Slab&display=swap');

/* Variables */
$base: #FFFFFF;
$base2: #E0E2DB;
$accent: #7A0000;
$accent2: #2E3532;
$accent3: #FF5C5C;
$base-font: #2E3532;
$accent-font: #8B2635;


