@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300;400;600&family=Dela+Gothic+One&family=Zilla+Slab&display=swap');

/* Variables */
$white: #FFFFFF;
$lgray: #E0E2DB;
$gray: #888888;
$dark: #2E3532;
$accent: #7A0000;
$accent2: #8B2635;
$accent3: #FF5C5C;

$font-accent: 'Dela Gothic One', cursive;
$font-base: 'Arima', cursive;

//animation-rules

@keyframes movie {
    0% {transform: none;}
    30% {transform: scale(1.1);}
    30% {box-shadow: none;}
    100% {transform: none;}
}

  @keyframes logo {
    10% {transform: none;}
    40% {transform: none;}
    100% {transform: rotate(360deg)};
  }

