@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300;400;600&family=Dela+Gothic+One&family=Zilla+Slab&display=swap");
/* Variables */
.container {
  margin: 0 auto;
  text-align: center;
  background-color: #FFFFFF;
}
.container header {
  background: linear-gradient(to right, #2E3532, #E0E2DB);
  color: #FFFFFF;
  display: flex;
  align-items: center;
  padding: 12px;
}
.container header .logo {
  width: 80px;
  margin-right: 10px;
  animation: logo 3s;
}
@keyframes logo {
  10% {
    transform: none;
  }
  40% {
    transform: none;
  }
  70% {
    transform: none;
  }
  100% {
    transform: rotate(360deg);
  }
}
.container header .htitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container header .htitle h1 {
  font-family: "Dela Gothic One", cursive;
  font-size: 40px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}
.container .info p {
  font-family: "Arima", cursive;
  color: #2E3532;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  text-align: initial;
}
.container .main-input {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  align-items: center;
}
.container .main-input h2 {
  font-family: "Dela Gothic One", cursive;
  font-size: 25px;
  color: #8B2635;
  text-align: center;
  margin: 0;
}
.container .main-input input {
  font-size: 20px;
  background: white;
  color: #7A0000;
  padding: 10px;
  margin: 3px;
}
.container .main-input input:invalid {
  border: 2px solid #2E3532;
}
.container .main-input input:invalid:required {
  background: linear-gradient(to right, #E0E2DB, #2E3532);
  background-color: #fcc;
}
.container .main-input input:valid {
  border: 2px solid white;
  background-color: #ccb4b4;
  color: #2E3532;
}

.search {
  background: #7A0000;
  color: white;
  border-color: #FF5C5C;
  font-size: 20px;
  padding: 10px;
  margin: 7px;
  max-width: 19rem;
}

.search:hover {
  background-color: #FF5C5C;
  border-color: #7A0000;
  cursor: pointer;
}

footer {
  background-color: #E0E2DB;
  margin-top: 10px;
  font-family: "Arima", cursive;
  font-size: 15px;
  padding: 15px;
}
footer .footer-info {
  font-family: "Arima", cursive;
  font-size: 15px;
  color: #2E3532;
  text-align: center;
}

.main-result {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}
.main-result .movie-card {
  background-color: #2E3532;
  width: 250px;
  padding: 15px 0 5px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 10px 8px #888888;
}
.main-result .movie-card p {
  font-family: "Arima", cursive;
  font-size: 24px;
  color: white;
  margin: 0;
  padding: 2px 10px;
}
.main-result .movie-card .movie-poster {
  margin: 5px auto;
  width: 100%;
}
.main-result .movie-card:hover {
  animation: movie 1s;
}
@keyframes movie {
  0% {
    transform: none;
  }
  30% {
    transform: scale(1.1);
  }
  100% {
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */
